@media (max-width: 1409px) {
  .hero__textblock::before {
    background-size: contain;
  }
}

@media (max-width: 1250px) {
  .hero__textblock::before {
    width: calc((100% - 18px) * 0.50);
  }
}

@media (max-width: 1160px) {
  .hero__textblock::before {
    width: calc((100% - 18px) * 0.40);
    top: -40px;
  }

  :root {
    --padding-l-r: 70px;
  }
}

@media (max-width: 991px) {
  .teachers__list {
    justify-content: space-between;
  }

  .teachers__item {
    max-width: 360px;
  }
}

@media (max-width: 900px) {
  :root {
    --padding-l-r: 39px;
  }

  .header__offset {
    justify-content: center;
  }

  .header {
    padding-bottom: 24px;
  }

  .hero__title {
    margin-bottom: 16px;
    font-weight: 700;
    font-size: 50px;
    line-height: 100%;
  }

  .hero__text {
    margin-bottom: 62px;
  }

  .hero__descr {
    max-width: 345px;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
  }

  .hero__textblock {
    padding-bottom: 135px;
  }

  .hero__textblock::before {
    top: 117px;
    right: 0;
    width: calc((100% - 18px) * 0.58);
    max-width: 330px;
    height: 100%;
    max-height: calc(100% - 269px);
    background: url('../img/hero/figures-690.png') no-repeat;
  }

  .advantage {
    padding-bottom: 75px;
  }

  .advantage__top {
    padding-left: 240px;
    background: url('../img/advantage/cylinders-690.png') left center no-repeat;
  }

  .advantage__item {
    padding: 91px 0 0 0;
    background-position: top left;
  }

  .teachers {
    padding-bottom: 47px;
  }

  .courses {
    padding-bottom: 49px;
  }

  .courses__duration {
    top: 10px;
    right: 11px;
  }

  .spec {
    padding: 31px 30px 30px 30px;
  }

  .spec__btn {
    padding: 20.5px 55.5px;
    max-width: 195px;
  }

  .footer__social {
    padding: 28px 0 24px 0;
  }

  .footer__sign {
    padding-top: 3px;
  }
}

@media (width: 768px) {
  .courses__item-1 {
    background-image: url('../img/courses/courses__item-1-690.png');
  }

  .courses__item-2 {
    background-image: url('../img/courses/courses__item-2-690.png');
  }

  .courses__item-3 {
    background-image: url('../img/courses/courses__item-3-690.png');
  }

  .courses__item-4 {
    background-image: url('../img/courses/courses__item-4-690.png');
  }
}

@media (max-width: 767px) {
  .hero__textblock::before {
    display: none;
    background: none;
  }
}

@media (max-width: 700px) {
  .header {
    padding: 30px 0 27px 0;
  }

  .header__offset {
    flex-direction: column;
  }

  .header__logo-link {
    margin-right: 0;
    margin-bottom: 27px;
  }
}

@media (max-width: 650px) {
  :root {
    --padding-l-r: 33px;
  }

  .header {
    padding: 30px 0 27px 0;
  }

  .header__offset {
    flex-direction: column;
  }

  .header__logo-link {
    margin-right: 0;
    margin-bottom: 27px;
  }

  .hero__textblock {
    padding-top: 78px;
    padding-bottom: 134px;
  }

  .advantage {
    padding-bottom: 55px;
  }

  .advantage__top {
    padding-left: 180px;
    background: url('../img/advantage/cylinders-510.png') left top no-repeat;
  }

  .teachers {
    padding-bottom: 71px;
  }

  .teachers__list {
    justify-content: space-around;
  }

  .teachers__item {
    max-width: 270px;
  }

  .courses__item {
    max-width: calc((100% - 30px) / 2);
    min-width: 240px;
    background-size: contain;
  }

  .courses__item-1 {
    background-image: url('../img/courses/courses__item-1-510.png');
  }

  .courses__item-2 {
    background-image: url('../img/courses/courses__item-2-510.png');
  }

  .courses__item-3 {
    background-image: url('../img/courses/courses__item-3-510.png');
  }

  .courses__item-4 {
    background-image: url('../img/courses/courses__item-4-510.png');
  }

  .spec {
    padding: 30px 27px 30px 30px;
  }

  .spec__title {
    margin-bottom: 9px;
    line-height: 130%;
  }

  .spec__btn {
    padding: 20.5px 48px;
    max-width: 180px;
  }

  .spec__top {
    margin-bottom: 34px;
  }

  .footer__sign {
    padding-top: 4px;
  }
}

@media (max-width: 575px) {
  .advantage__item {
    padding: 0;
    padding-left: 110px;
    min-height: 80px;
    background-position: left center;
  }

  .courses__card:last-child {
    margin-bottom: 0;
  }

  .courses__item {
    max-width: 100%;
    background-size: contain;
    background-position-y: -20%;
  }
}

@media (max-width: 540px) {
  :root {
    --padding-l-r: 15px;
  }

  .header {
    padding-top: 30px;
  }

  .header__offset {
    align-items: flex-start;
    padding-top: 0;
    padding-bottom: 3px;
  }

  .header__nav {
    display: none;
  }

  .header__logo-link {
    margin-bottom: 0;
  }

  .burger__line {
    position: absolute;
    width: 20.62px;
    height: 2px;
    right: 20px;
    border-radius: 5px;
    background-color: var(--color-fff);
  }

  .burger__line:nth-child(1) {
    top: 0px;
  }

  .burger__line:nth-child(2) {
    top: 32%;
  }

  .burger__line:nth-child(3) {
    top: 61%;
  }

  .hero__title {
    font-size: 30px;
    margin-bottom: 5px;
  }

  .hero__text {
    margin-bottom: 44px;
  }

  .hero__descr {
    font-size: 16px;
    line-height: 130%;
  }

  .hero__btn {
    padding: 20.5px 53.5px;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
  }

  .hero__textblock {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .advantage {
    padding-top: 80px;
    padding-bottom: 49px;
  }

  .advantage__top {
    padding-left: 0;
    background: none;
  }

  .advantage__title {
    margin-bottom: 2px;
    max-width: 290px;
    font-size: 20px;
    line-height: 130%;
  }

  .advantage__card:not(:last-child) {
    margin-bottom: 30px;
  }

  .teachers {
    padding-top: 47px;
    padding-bottom: 44px;
  }

  .teachers__title {
    font-size: 20px;
    margin-bottom: 1.5px;
  }

  .teachers__item {
    padding-left: 0;
    padding-right: 0;
    max-width: 290px;
  }

  .courses {
    padding-top: 46px;
    padding-bottom: 50px;
  }

  .courses__title {
    margin-bottom: 27px;
    font-size: 20px;
  }

  .courses__item {
    max-width: 100%;
    min-width: 290px;
    background-position-y: 0;
  }

  .courses__item-1 {
    background-image: url('../img/courses/courses__item-1-320.png');
  }

  .courses__item-2 {
    background-image: url('../img/courses/courses__item-2-320.png');
  }

  .courses__item-3 {
    background-image: url('../img/courses/courses__item-3-320.png');
  }

  .courses__item-4 {
    background-image: url('../img/courses/courses__item-4-320.png');
  }

  .spec__btn {
    padding: 20.5px 55.5px;
    max-width: 195px;
  }
}

@media (max-width: 320px) {
  .spec {
    min-height: 473px;
  }
}
