@font-face {
  font-family: "Roboto";
  src: local('roboto-bold'),
    url('../fonts/roboto-bold.woff2') format('woff2'),
    url('../fonts/roboto-bold.woff') format('woff');
  font-display: swap;
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: local('roboto-regular'),
    url('../fonts/roboto-regular.woff2') format('woff2'),
    url('../fonts/roboto-regular.woff') format('woff');
  font-display: swap;
  font-weight: 400;
  font-style: normal;
}

/* glob */

:root {
  --color-3f2aff: #3f2aff;
  --color-fff: #fff;
  --color-212133: #212133;
  --color-edf0f9: #edf0f9;
  --color-2e2b44: #2e2b44;
  --color-666: #666666;
  --color-85859b: #85859b;
  --padding-l-r: 165px;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

body {
  margin: 0 auto;
  font-family: "Roboto";
  background: var(--color-fff);
}

.btn-reset {
  padding: 0;
  margin: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.btn {
  font-weight: 700;
  color: var(--color-fff);
  background: var(--color-3f2aff);
  border-radius: 20px;
}

.p-reset {
  margin: 0;
  padding: 0;
}

.list-reset {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  list-style: none;
}

.flex {
  display: flex;
}

.section__offset {
  padding-top: 80px;
  padding-bottom: 70px;
}

.container {
  padding-left: var(--padding-l-r);
  padding-right: var(--padding-l-r);
  max-width: 1440px;
}

.row {
  --bs-gutter-x: 30px;
  --bs-gutter-y: 30px;
}

.row>* {
  margin-top: 0;
}

/* header */

.header {
  padding: 28px 0 24px 0;
  background-color: #3f2aff;
}

.header__offset {
  position: relative;
  align-items: center;
  padding-bottom: 3px;
}

.header__logo-link {
  margin-right: auto;
  width: 94px;
}

.header__logo-pic {
  font-size: 0;
}

/* burger */

.burger {
  outline: none;
  outline: 2px solid transparent;
  outline-offset: 3px;
}

/* nav */

.nav__item {
  font-size: 0;
}

.nav__item:not(:last-child) {
  margin-right: 56px;
}

.nav__link {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: var(--color-fff);
}

/* hero */

.hero {
  background: radial-gradient(44.07% 44.07% at 67.78% 55.93%, #555681 0%, #212133 100%);
}

.hero__textblock {
  position: relative;
  padding-top: 130px;
  padding-bottom: 129px;
}

.hero__textblock::before {
  position: absolute;
  content: '';
  top: 15px;
  right: 0;
  width: calc((100% - 18px) * 0.56);
  max-width: 633px;
  height: 100%;
  max-height: 593px;
  background: url('../img/hero/figures-1110.png') no-repeat;
  background-size: cover;
  background-position: right center;
}

.hero__title {
  margin: 0;
  margin-bottom: 28px;
  padding: 0;
  max-width: 459px;
  font-weight: 700;
  font-size: 60px;
  line-height: 100%;
  color: var(--color-fff);
}

.hero__text {
  margin-bottom: 63px;
}

.hero__descr {
  max-width: 459px;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: var(--color-fff);
}

.hero__btn {
  padding: 24px 75.5px;
  font-size: 18px;
  line-height: 21px;
}

/* advantage */

.advantage {
  padding-top: 110px;
  padding-bottom: 79px;
}

.advantage__bub {
  margin-bottom: 24px;
}

.advantage__top {
  flex-direction: column;
  padding-left: 190px;
  background: url('../img/advantage/cylinders-1110.png') left center no-repeat;
}

.advantage__title {
  margin: 0;
  margin-bottom: 16px;
  max-width: 380px;
  font-weight: 700;
  font-size: 40px;
  line-height: 100%;
  color: var(--color-2e2b44);
}

.advantage__descr {
  max-width: 585px;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: var(--color-666);
}


.advantage__item {
  padding: 0 0 0 110px;
  min-height: 80px;
  align-items: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 120%;
  color: var(--color-666);
  background-repeat: no-repeat;
  background-position: left top;
}

.advantage__item-1 {
  background-image: url('../img/advantage/eye.svg');
}

.advantage__item-2 {
  background-image: url('../img/advantage/fingers.svg');
}

.advantage__item-3 {
  background-image: url('../img/advantage/megaphone.svg');
}

/* teachers */

.teachers {
  padding-top: 74px;
  padding-bottom: 73px;
  background: var(--color-212133);
}

.teachers__item {
  margin-top: 24px;
}

.teachers__photo-container {
  margin-bottom: 27px;
}

.teachers__photo {
  flex-grow: 0;
  border-radius: 20px 20px 0px 0px;
  font-size: 0;
}

.teachers__title {
  margin: 0;
  font-weight: 700;
  font-size: 40px;
  line-height: 100%;
  color: var(--color-fff);
}

.teachers__name {
  margin-bottom: 7px;
  padding-left: 2px;
  font-weight: 700;
  font-size: 18px;
  line-height: 150%;
  color: var(--color-fff);
}

.teachers__descr {
  padding-left: 1px;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: var(--color-85859b);
}

/* courses */

.courses {
  padding-top: 74px;
  padding-bottom: 50px;
}

.courses__title {
  margin: 0;
  margin-bottom: 24px;
  font-weight: 700;
  font-size: 40px;
  line-height: 100%;
  color: var(--color-212133);
}

.courses__card {
  margin-bottom: 30px;
}

.courses__item {
  position: relative;
  padding-top: 180px;
  border-radius: 20px 20px 0 0;
  background-position: center;
  background-repeat: no-repeat;
  background-position: top;
}

.courses__item-1 {
  background-image: url('../img/courses/courses__item-1-1110.png');
}

.courses__item-2 {
  background-image: url('../img/courses/courses__item-2-1110.png');
}

.courses__item-3 {
  background-image: url('../img/courses/courses__item-3-1110.png');
}

.courses__item-4 {
  background-image: url('../img/courses/courses__item-4-1110.png');
}

.courses__duration {
  position: absolute;
  top: 9px;
  right: 2px;
  padding: 2.5px 0 2.5px 29px;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: var(--color-fff);
  background: url('../img/courses/watch.svg') no-repeat left center;
}

.courses__spec {
  background: var(--color-edf0f9);
  border-radius: 0px 0px 20px 20px;
}

/* spec */

.spec {
  flex-direction: column;
  justify-content: space-between;
  padding: 30px;
  min-height: 300px;
}

.spec__title {
  margin: 0;
  margin-bottom: 7px;
  font-weight: 700;
  font-size: 18px;
  line-height: 150%;
  color: var(--color-212133);
}

.spec__top {
  margin-bottom: 30px;
}

.spec__descr {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: var(--color-666);
}

.spec__btn {
  padding: 21px 59px;
  max-width: 202px;
}

/* footer */

.footer__social {
  padding: 29px 0 23px 0;
  background: var(--color-2e2b44);
}

.footer__sign {
  padding-top: 3px;
  text-align: center;
}

.sign__text {
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  color: var(--color-2e2b44);
}

.sign__trade {
  color: var(--color-3f2aff);
}

.social__list {
  justify-content: center;
}

.social__item:not(:last-child) {
  margin-right: 30px;
}

.social__link {
  font-size: 0;
}
